
@import "_variables";
@import "node_modules/bulma/bulma";
.title {
  font-family: $family-title;
}
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  font-family: $family-title;
}
.tile.is-ancestor {
  margin: 1.25rem;
  @include mobile {
    margin: 0.25rem;
  }
}
.box {
  border: $border-width solid $black-bis;
  box-shadow: $shadow-width $shadow-width 0 $primary;
}
